.chat__container{
    background-image: url("https://i.pinimg.com/originals/dc/ef/f6/dceff6eb8639f46f68f25c36125bdbeb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 6%;
    opacity: 0.8;
    height: 80vh;
    width: 60vw;
}
.chat__board {
    margin: 30px;
    border: 1px solid black;
    height: 72vh;
}
.chat__board--users{
    height: 63vh;
    border: 1px solid red;
    width: 100%;
    overflow-y: scroll;
}