.chat{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background: black;
}

.chat__header {
    height: 20vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.chat__header--text{
    color:#fff;
    font-size: 70px;
    font-family: 'UnifrakturCook', cursive;
}
.chat__board{
    top: 20vh;
    width: 80vw;
    height: 80vh;
    display: flex;
    position: absolute
}
.chat__navbar{
    height: 80vh;
    width: 20vw;
    background: rgb(15, 15, 15);
    opacity: 0.8;
}
.chat__navbar__header{
    height: 10vh;
    width: 20vw;
    border-bottom: 1px groove #fff;
}
.chat__navbar__text{
    color:#fff;
    cursor: pointer;
}
.chat__navbar--room--name{
    color:#fff;
    font-size: 25px;
    font-family: 'UnifrakturCook', cursive;
    cursor: pointer;
}
.chat__container{
    position: relative;
    border-radius: 6%;
    opacity: 0.8;
    height: 80vh;
    width: 60vw;
}
.chat__users{
    height: 100vh;
    width: 20vw;
    background: rgb(15, 15, 15);
    opacity: 0.8;
}
.chat__navbar--room{
    display: flex;

}
.chat__navbar--box{
    width: 20vw;
    align-self: center;
}
.chat__users--image{
    width: 100%;
    height: 30vh;
    border-bottom: 1px groove #fff;
   
}

.chat__navbar__icon{
    font-size: 16px;
    color:#fff;
    cursor: pointer;
}
.chat__users--header{
    color:#fff;

}
.chat__users--user{
    color:#fff;
}