.chat__container{
    background: rgb(15, 15, 15);
    opacity: 0.9;
    position: relative;
    height: 80vh;
    width: 60vw;
}
.chat__board {
    margin: 30px;
    height: 72vh;
}
.chat__board--header{
    height: 10vh;
    display: flex;
    justify-content: center;
}
.chat__board--text{
    color:#fff;
    margin: 0;
    font-size: 50px;
    font-family: 'UnifrakturCook', cursive;
}
.chat__board--users{
    height: 50vh;
    background: rgb(31, 30, 30);
    width: 100%;
    overflow-y: scroll;
}
.chat__board--user{
    width: 90%;
    height: 20px;
    display: flex;
    margin-top: 15px;
    margin-left: 20px;

}
.chat__board--user p{
    color:#fff;
    margin: 0;
}
.chat__board--message{
    margin-top: 30px;
    width: 100%;
}
.chat__board--input{
    padding: 10px 20px;
    box-sizing: border-box;
    color: black;
    border: 0;
    display: block;
    width: 100%;
    background: #eee;
    border-bottom: 1px solid #eee;
    font-family: 'UnifrakturCook', cursive;
    font-size: 18px;
}
.chat__board--button{
    background: rgb(46, 45, 45);
    opacity: 0.8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}