.overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
    display: flex;
}
.Dialog{
    z-index: 1000;
    background-image: url("https://i.pinimg.com/originals/dc/ef/f6/dceff6eb8639f46f68f25c36125bdbeb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 45vh;
    position: absolute;
    align-self: center;
    margin-left: 38vw;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.Dialog__header{
    width: 100%;
    height: 10vh;
    display: flex;
}
.Dialog__header-left{
    width: 60%;
    display: flex;
    align-items: center;
}
.Dialog__header-right{
    width: 38%;
    height: 0;
    display: flex;
    justify-content: flex-end;
}
.Dialog__header-text{
    font-size: 20px;
    margin-left: 15px;
    font-family: 'UnifrakturCook', cursive;
}
.Dialog__header-close{
    margin-top: 10px;
    color:#D2D5D9;
    cursor: pointer;
    font-size: 18px;
}
.Dialog__header-close:hover{
    color: #555;
}
.Dialog__content{
    margin-top: 40px;
    width: 100%;
    height: 10vh;
}
.Dialog__content-text{
    font-size: 30px;
    margin-left: 12px;
    color:black;;
    font-weight: bold;
    font-family: 'UnifrakturCook', cursive;
}
.Dialog__content-input{
    margin-top: 10px;
    height: 32px;
    padding: 0 8px;
    color: #fff;
    border: 1px solid #c1c7cd;
    background: black;
    border-radius: 4px;
    width: 91%;
    font-size: 16px;
    margin-left: 10px;
}
.Dialog__footer{
    height: 17vh;
    width: 94%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.Dialog__footer-create{
    background:none;
    border:none;
    font-weight: 500;
    border: none;
    line-height: 1;
    font-size: 25px;
    font-family: 'UnifrakturCook', cursive;
    cursor: pointer;
}
.Dialog__footer-create:hover{
    opacity: 0.9;
}

.Dialog__footer-cancel{
    background:none;
    border:none;
    font-weight: 500;
    font-family: 'UnifrakturCook', cursive;
    border: 1px solid #bbb;
    line-height: 1;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    margin-right: 18px;
    cursor: pointer;
}
